@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #FC7D5D;
}

.playfair {
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.superextrahuge {
  font-size: 8rem;
  line-height: 2.925rem;
}
