body {
  background-color: #fc7d5d;
}

.playfair {
  font-family: "Playfair Display", serif;
  color: #fff;
}

.raleway {
  font-family: Raleway, sans-serif;
  color: #fff;
}

@media only screen and (min-width: 38em) {
  .playfair {
    color: #fc7d5d;
  }

  body {
    background-color: #fff;
  }

  .raleway {
    color: #929195;
  }
}

@media only screen and (min-width: 60em) {
  .playfair {
    color: #fff;
  }

  body {
    background-color: #fc7d5d;
  }

  .raleway {
    color: #fff;
  }
}
